body
{
    background: linear-gradient(to bottom, black, white);
    color: white;
    text-align: center;
}

h1
{
    font-size: 400%;
}

#type
{
    top:5px;
    position:absolute;
    right:625px;
}


#bodyType
{
   font-size: 150%; 
   text-align: left;
   color: greenyellow;
}

#fightStyle
{
   font-size: 150%; 
   text-align: left;
   color: yellow;
}

#story
{
    font-size: 150%; 
    text-align: left;
    color: orange;
}

#ali
{
    font-size: 150%; 
    text-align: left;
    color: midnightblue;
}

#hp
{
    font-size: 150%;
    color: red;
    text-align: right;
}

#str
{
    font-size: 150%;
    color: blue;
    text-align: right;
}

#dex
{
    font-size: 150%;
    color: chocolate;
    text-align: right;
}

#con
{
    font-size: 150%;
    color: darkslateblue;
    text-align: right;
}

#int
{
    font-size: 150%;
    color: darkgreen;
    text-align: right;
}

#wis
{
    font-size: 150%;
    color: coral;
    text-align: right;
}

#cha
{
    font-size: 150%;
    color: deeppink;
    text-align: right;
}

#main {

    width:600px;
    height:500px;
    position:relative;
    margin:0 auto;
}