body
{
    background-color: black;
    color: white;
    text-align: center;
}

h1
{
    font-size: 500%;
}

#type
{
    top:5px;
    position:absolute;
    right:625px;
}


#character
{
   font-size: 250%; 
}

#main {

    width:600px;
    height:500px;
    position:relative;
    margin:0 auto;
}