body
{
    background: linear-gradient(to bottom, black, white);
    color: white;
    text-align: center;
}

h1
{
    font-size: 500%;
}

#type
{
    top:5px;
    position:absolute;
    right:625px;
}


#bodyType
{
   font-size: 250%; 
   text-align: left;
}

#fightStyle
{
   font-size: 250%; 
   text-align: left;
}

#hp
{
    font-size: 250%;
    color: red;
    text-align: right;
}

#str
{
    font-size: 250%;
    color: blue;
    text-align: right;
}

#dex
{
    font-size: 250%;
    color: chocolate;
    text-align: right;
}

#con
{
    font-size: 250%;
    color: darkslateblue;
    text-align: right;
}

#int
{
    font-size: 250%;
    color: chartreuse;
    text-align: right;
}

#wis
{
    font-size: 250%;
    color: coral;
    text-align: right;
}

#cha
{
    font-size: 250%;
    color: deeppink;
    text-align: right;
}

#main {

    width:600px;
    height:500px;
    position:relative;
    margin:0 auto;
}